
<a class="btn" href="/restaurants">Back to Restaurants </a>
<h3><a href=""><%= @restaurant.name %></a></h3>
<div class="restaurant-details">
  <ul>
    <li>Address:<%= @restaurant.address %></li>
    <li>City:  <%= @restaurant.city %></li>
    <li>Zip Code: <%= @restaurant.zip_code %></li>
    <li>Category: <%= @restaurant.category %></li>
    <li>Description: <%= @restaurant.description%>
  </ul>

  <h3>Reviews on scale of 5</h3>
  <%= link_to "New Review", new_restaurant_review_path(@restaurant) %></a>
    <% @restaurant.reviews.each do |review| %>
      <li>Rate: <%= review.rating %></li>
      <li><%= review.body %></li>
    <%end%>
</div>


